* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    padding: 10px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid seashell;
    z-index: 1;
}

.logo-container {
    height: 50px;
    cursor: pointer;
    
}

.logo-container img{
    height: 100%;
}

ul.nav-links {
    
    list-style: none;
}

ul.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

ul.nav-links li:nth-child(1) {
    padding-left: 0;
}

ul.nav-links li:nth-child(3) {
    padding-right: 0;
}

ul.nav-links li a{
    display: flex;
    align-items: center;
}

ul.nav-links li a:hover {
    color: black;
    background-color: seashell;
}


/* Main Section Style */

main {
    position: relative;
    top: 70px;    
}

.mission {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-image: url('./imgs/img-mission-background.jpg');
    
}

.mission-container  {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.mission-title h2{
    font-size: 32px;
    font-weight: 600;
}    

 
